<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
    <h4>List</h4>
    <hr />
  </div>
</div>

<div class="row mt-2">
  <div class="col-2"></div>
  <div class="col">
    <div class="row">
      <div *ngFor="let house of houses; let i = index" class="col-4 mb-2">
        <div class="card">
          <mini-map [lngLat]="house.lngLat"></mini-map>
          <div class="card-body">
            <h5 class="card-title">{{ house.title }}</h5>
            <p class="card-text">{{ house.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
